- model_class = Task
- model_subclass = UserTask
%table.table.table-striped
  %thead
    %tr
      %th Status
      %th= model_class.human_attribute_name(:description)
      %th= model_class.human_attribute_name(:created_at)
      %th= model_subclass.human_attribute_name(:shared_by)
      %th= model_class.human_attribute_name(:title)
      %th= t '.actions', :default => t("helpers.actions")
  %tbody
    - resources.each do |task|
      %tr
        %td
          = check_box_tag 'done', task.id , task.done, :class => "task-check"

        %td= task.description
        %td= task.created_at.strftime('%d/%m/%Y %H:%M:%S')
        %td
          - if shared_by = task.shared_to(current_user)
            = shared_by.full_name 
        %td= task.title
        %td
          = link_to t('.edit', :default => t("helpers.links.edit")), 
            edit_task_path(task),
            :class => 'btn btn-mini'

          = link_to 'Invite', '#', class: 'btn btn-mini', 
            remote: true,
            'data-toggle' =>  "modal",
            'data-target' => "#modal-window-#{task.id}"
        
          = link_to t('.destroy', :default => t("helpers.links.destroy")),
            task_path(task),
            method: :delete,
            data:  { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, 
            class: 'btn btn-mini btn-danger'
          = render 'modal', resource: task
