%ul.nav.nav-pills.pull-right
  - if user_signed_in? 
    Logged in as |
    = link_to "#{current_user.email}.", edit_user_registration_path, :class => 'navbar-link'
    = link_to 'Log out', destroy_user_session_url, :method => :delete 
  - else 
    = link_to "Sign up", new_user_registration_path, :class => 'navbar-link' |
    = link_to "Login", new_user_session_path, :class => 'navbar-link'


.page-header
  %script{:type=>"text/javascript"}
    setInterval(updateTable, 4000);
  %h1= 'My tasks'
- if flash[:alert]
  .alert 
    = flash.now[:alert]

#tasks-list 
  = render :partial => "table"

= link_to t('.new', :default => t("helpers.links.new")), 
  new_task_path,
  class: 'btn btn-primary'


