- model_class = Task
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize
%dl.dl-horizontal
  %dt
    %strong
      = model_class.human_attribute_name(:title)
      \:
  %dd= resource.title
  %dt
    %strong
      = model_class.human_attribute_name(:description)
      \:
  %dd= resource.description
.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), |
    tasks_path, :class => 'btn'                              |
  -#
  = link_to t('.edit', :default => t("helpers.links.edit")), |
    edit_task_path(resource), :class => 'btn'                |
  -#
  = link_to t('.destroy', :default => t("helpers.links.destroy")),                                               |
    task_path(resource),                                                                                         |
    :method => 'delete',                                                                                         |
    :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, |
    :class => 'btn btn-danger'                                                                                   |
