.modal.hide.fade{:id => "modal-window", :role => "dialog", "aria-labelledb" => "myModalLabel", "aria-hidden" => "true"}
  .modal-header
    %button.close{"aria-hidden" => "true", "data-dismiss" => "modal", :type => "button"} &times;
    %h3.modal-title 
      = 'Share to "' +  @task.title + '" task'
  .modal-body
    = form_for :user do |f|
      = f.email_field :email 
      = f.submit 'Share', :class => 'btn btn-primary'
    .ajax-loader
  .modal-footer
    %button.btn{"data-dismiss" => "modal", :type => "button"} close